<div id="page_footer">
	<button id="logout_button" class="btn btn-danger" style="position: absolute; right: 20; bottom: 10; text-align: right;" type="button" data-toggle="modal" data-target="#logout_modal">Logout</button>
</div>

<!-- Logout modal -->
<div id="logout_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="text-align: center;">Are you sure?</h4>
      </div>
      <div class="modal-body">
      	<form id="logout_form">
			<button type="submit" class="btn btn-danger btn-lg btn-block">Logout</button>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
